.menu {
    background-color: #0c3177;
    height: 79px;
    margin: -8px;
}

.logo {
    width: 155px;
    height: 60px;
    margin-left: 20px;
    margin-top: 8px;
}

html {
    background-color: #3ab6a8
}

#botao-add {
    margin-top: 5px;
    padding: 11.5px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: 0.4px;
    border-radius: 3px;
    font-weight: 700;
}

input#desenvolvedor,
input#projeto,
input#valor,
input#stack,
input#dias {

    padding: 16px 9px 14px 9px;
    width: 100%;
    margin: 8px 0 8px 0;
    border-radius: 4px;
    border: none;
    background-color: #ffff;

}


label {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}

table {
    margin-top: 20px;
    width: 60%;
    border-collapse: collapse;
    margin-left: 30px;


}



td,
th {
   
    text-align: left;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
td{
    padding-left: 10px;
}

#tabela, #tabela2 {
    width: 100%;
    background-color: #dadada;
    border-radius: 3px;
}

button#botao-del {
    margin-top: 5px;
    padding: 11.5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: 0.4px;
    border-radius: 3px;
    font-weight: 700;
}

button#botao-edit,
#edit-confirm {
    margin-top: 5px;
    padding: 11.5px;
    background-color: #e8a406;
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: 0.4px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 13.5px;
}

#edit-confirm {
    visibility: hidden;
}

div.box {
    margin-top: 30px;
    box-sizing: border-box;
    width: 40%;
    float: left;

}

i.fa.fa-edit::before,
i.fa.fa-trash::before {
    margin-right: 4px;
}

#botao-edit,
#botao-del {

    display: flex;

}

#valid0,
#valid1,
#valid2,
#valid3,
#valid4 {
    color: #e82525;
    font-size: 15px;
}

#result-meta{
    padding-left: 20px;
}